{% for host in hosts %}
resource "dns_a_record_set" "{{ host.resource_name }}" {
  zone = "{{ zone }}"
  name = "{{ host.host_name }}"
  addresses = ["{{ host.ip }}"]
  {% if ttl %}
  ttl = {{ ttl }}
  {% endif -%}
}
{% endfor %}