{% for host in hosts %}
{% set resource_name = host.hostname.replace('.','_') %}
resource "dns_a_record_set" "{{ resource_name.replace('-','_') }}" {
  zone = "{{ zone }}"
  name = "{{ host.hostname }}"
  addresses = ["{{ host.ip }}"]
  {% if ttl %}
  ttl = {{ ttl }}
  {% endif -%}
}
{% endfor %}